---
title: "A GitLab user’s guide to GitHub’s new features"
author: GitLab
author_twitter: gitlab
categories: company
image_title: '/images/blogimages/gitlab-loves-open-source.jpg'
description: "GitHub’s new features will help open source developers – and that’s great for everyone."
tags: news, open source
postType: corporate
---

Today at GitHub’s Satellite developer conference, [GitHub announced a number of new features](https://github.blog/2019-05-23-building-an-interconnected-community-together/).
If you are a GitLab user, here is a quick cheat sheet of what GitHub announced today and how that relates to GitLab features that already exist or are on the [public GitLab direction page](/direction/).

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-uys7{border-color:inherit;text-align:center}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-uys7"><span style="font-weight:bold">What GitHub announced on May 23, 2019</span></th>
    <th class="tg-uys7"><span style="font-weight:bold">Similar &amp; related GitLab features</span></th>
  </tr>
  <tr>
    <td class="tg-uys7">Enhanced security vulnerability alerts</td>
    <td class="tg-uys7"><a href="http://about.gitlab.com/2018/11/22/gitlab-11-5-released/#group-security-dashboard">Group Security Dashboard</a><br><a href="https://about.gitlab.com/2018/07/22/gitlab-11-1-released/#security-dashboard-for-projects">Project Security Dashboard</a><br><a href="https://docs.gitlab.com/ee/user/application_security/sast/index.html">SAST</a><br><a href="https://docs.gitlab.com/ee/user/application_security/dast/index.html">DAST</a><br><a href="https://docs.gitlab.com/ee/user/application_security/container_scanning/index.html">Container Scanning</a></td>
  </tr>
  <tr>
    <td class="tg-uys7">Automated MRs for dependency vulnerabilities <br>(Dependabot acquisition)</td>
    <td class="tg-uys7"><a href="https://about.gitlab.com/2019/03/22/gitlab-11-9-released/#vulnerability-remediation-merge-request">Vulnerability Remediation Merge Request</a></td>
  </tr>
  <tr>
    <td class="tg-uys7">Dependency Insights</td>
    <td class="tg-uys7"><a href="https://gitlab.com/gitlab-org/gitlab-ee/issues/11059">Dependency List (planned for 12.0)</a></td>
  </tr>
  <tr>
    <td class="tg-baqh">Token Scanning</td>
    <td class="tg-baqh"><a href="/2019/03/22/gitlab-11-9-released/#detect-secrets-and-credentials-in-the-repository">Secrets Detection</a></td>
  </tr>
  <tr>
    <td class="tg-baqh">Maintainer Security Advisories</td>
    <td class="tg-baqh"><a href="https://docs.gitlab.com/ee/user/project/issues/confidential_issues.html">Confidential Issues</a><br>Private MRs (planned)<br><a href="https://gitlab.com/groups/gitlab-org/-/epics/634">Vulnerabilities as First Class Elements</a> (in planning – please contribute!)</td>
  </tr>
  <tr>
    <td class="tg-baqh">Security Policy</td>
    <td class="tg-baqh">Good idea!</td>
  </tr>
  <tr>
    <td class="tg-baqh">Enterprise Accounts</td>
    <td class="tg-baqh"><a href="https://docs.gitlab.com/ee/user/group/">Group Level Management</a></td>
  </tr>
  <tr>
    <td class="tg-baqh">New Roles &amp; Permissions</td>
    <td class="tg-baqh"><a href="https://docs.gitlab.com/ee/user/permissions.html">Permissions</a></td>
  </tr>
  <tr>
    <td class="tg-baqh">Team Synchronization</td>
    <td class="tg-baqh"><a href="https://docs.gitlab.com/ee/administration/auth/ldap-ee.html">LDAP Group Sync</a></td>
  </tr>
  <tr>
    <td class="tg-baqh">Internal Repositories</td>
    <td class="tg-baqh"><a href="https://docs.gitlab.com/ee/public_access/public_access.html">Internal Projects</a></td>
  </tr>
  <tr>
    <td class="tg-baqh">Organization Insights</td>
    <td class="tg-baqh"><a href="https://docs.gitlab.com/ee/user/group/contribution_analytics/">Contribution Analytics</a><br><a href="https://docs.gitlab.com/ee/user/project/cycle_analytics.html">Cycle Analytics</a><br></td>
  </tr>
  <tr>
    <td class="tg-baqh">Audit Log API</td>
    <td class="tg-baqh"><a href="https://docs.gitlab.com/ee/administration/audit_events.html#instance-events-premium-only">Audit Events</a></td>
  </tr>
  <tr>
    <td class="tg-baqh">Git Data Encryption at Rest</td>
<td class="tg-baqh"><a href="/security/">Yes, for GitLab.com</a></td>
  </tr>
  <tr>
    <td class="tg-baqh">Draft Pull Requests</td>
    <td class="tg-baqh"><a href="https://docs.gitlab.com/ee/user/project/merge_requests/work_in_progress_merge_requests.html">WIP for Merge Requests</a></td>
  </tr>
  <tr>
    <td class="tg-baqh">Statuses</td>
    <td class="tg-baqh"><a href="https://docs.gitlab.com/ee/user/profile/#current-status">Set Status</a></td>
  </tr>
</table>

Finally, as GitLab is an open source project itself, and we are contributors to many other open source projects hosted on GitHub, we are excited to see that GitHub is looking for ways to make open source projects more secure and better funded, through [GitHub Sponsors](https://github.com/sponsors) and the [GitHub Sponsors Matching Fund](https://help.github.com/en/articles/about-github-sponsors). Nice job, GitHub!
