---
layout: markdown_page
title: Ecosystem Team
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

Enable seamless integration between GitLab and 3rd party products as well as make GitLab products available on cloud service providers’ marketplaces, expanding GitLab market opportunities.

## Mission

The Ecosystem team is responsible for design, build, and maintain -
* SDK and APIs of GitLab products.
* Solutions to integrate to partner and 3rd party platforms.
* Solutions for integrating with cloud service provider marketplaces, such as AWS.
* Develop documentation and instructions of how to work with GitLab SDK & APIs.

## Team Members

The following people are permanent members of the Ecosystem Team:

<%= direct_team(manager_role: 'Engineering Manager, Ecosystem') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Ecosystem/, direct_manager_role: 'Engineering Manager, Ecosystem') %>

## Common Links
